<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Model Services</title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function setTrimLevelName() {
            var e = document.getElementById("trimLevelSelect");
            var selectedTrimLevelName = e.options[e.selectedIndex].text;

            // log the selected manufacturer name to the console
            console.log("Selected trim level: " + selectedTrimLevelName);

            document.getElementById("selectedTrimLevelName").value = selectedTrimLevelName;
        }
        /*]]>*/
    </script>
</head>
<body>

<h2>Model Services</h2>
<div th:if="${error}" class="alert alert-danger" style="color:red;" role="alert">
    <p th:text="${error}"></p>
</div>
<!-- Display existing models if the list is not empty -->
<th:block th:if="${#lists.size(modelList) > 0}">
    <h3>Existing Models:</h3>
    <div th:each="model : ${modelList}">
        <p>Id: <span th:text="${model.modelId}"></span></p>
        <p>Name: <span th:text="${model.name}"></span></p>
        <p>Year: <span th:text="${model.year}"></span></p>
        <p>Style: <span th:text="${model.style}"></span></p>
        <p>Trim Level Name: <span th:text="${model.trimLevel.name}"></span></p>
        <p>Trim Level Year: <span th:text="${model.trimLevel.year}"></span></p>
        <p>Manufacturer: <span th:text="${model.trimLevel.manufacturer.name}"></span></p>
        <p>Manufacturer Country: <span th:text="${model.trimLevel.manufacturer.country}"></span></p>

        <a th:href="@{/edit-model/{modelId}(modelId=${model.modelId})}">Edit</a>

        <a th:href="@{/delete-model/{modelId}(modelId=${model.modelId})}">Delete</a>

        <hr>
    </div>
</th:block>


<!-- Display a message if the list is empty -->
<th:block th:if="${#lists.size(modelList) == 0}">
    <p>No existing Models.</p>
</th:block>

<!-- Add a Model form -->
<th:block th:if="${addModelDto != null}">
    <h3>Create New Model:</h3>
    <form th:action="@{/add-model}" method="post" th:object="${addModelDto}">

        <label>Name: </label>
        <input type="text" th:field="*{name}" /><br>

        <label>Year: </label>
        <input type="text" th:field="*{year}" /><br>

        <label>Style: </label>
        <input type="text" th:field="*{style}" /><br>

        <label>Trim Level: </label>
        <select id="trimLevelSelect" th:field="*{trimLevelName}">
            <option th:each="trimLevel : ${allTrimLevels}" th:value="${trimLevel.name}" th:text="${trimLevel.name}" />
        </select>

        <input type="submit" value="Submit">
    </form>
</th:block>

</body>
</html>

