<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saves Services</title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        //function setFeatureName() {
        //    var e = document.getElementById("userSelect");
        //    var selectedFeatureName = e.options[e.selectedIndex].text;
        //
            // log the selected manufacturer name to the console
        //    console.log("Selected user: " + selectedFeatureName);

        //    document.getElementById("selectedFeatureName").value = selectedFeatureName;
        //}
        //function setTrimLevelName() {
        //    var e = document.getElementById("trimLevelNameSelect");
        //    var selectedTrimLevelName = e.options[e.selectedIndex].text;

            // log the selected manufacturer name to the console
        //    console.log("Selected Trim Level: " + selectedTrimLevelName);

        //    document.getElementById("selectedTrimLevelName").value = selectedTrimLevelName;
        //}
        /*]]>*/
    </script>
</head>
<body>

<h2>Saves Services</h2>
<a th:href="@{/saves-services}">
    <button>Reload All Saves</button>
</a>


<!--Add a vehicle form-->
<!--<th:block th:if="${user != null}">-->
<!--    <form th:action="@{/add-user}" method="post" th:object="${user}">-->
<!--        <label>Email: </label>-->
<!--        <input type="text" th:field="*{email}" /><br>-->

<!--        <label>First Name: </label>-->
<!--        <input type="text" th:field="*{firstName}" /><br>-->

<!--        <label>Last Name: </label>-->
<!--        <input type="text" th:field="*{lastName}" /><br>-->

<!--        <input type="submit" value="Submit">-->
<!--    </form>-->
<!--</th:block>-->

</body>
</html>

<!--<script>-->
<!--    // Function to open the edit user pop-up form with user details-->
<!--    function openEditForm(user) {-->
<!--        document.getElementById('editUserForm').style.display = 'flex';-->
<!--        document.getElementById('editUserId').value = user.id;-->
<!--        document.getElementById('editUserEmail').value = user.email;-->
<!--        document.getElementById('editUserFirstName').value = user.firstName;-->
<!--        document.getElementById('editUserLastName').value = user.lastName;-->
<!--    }-->

<!--    // Function to close the edit user pop-up form-->
<!--    function closeEditForm() {-->
<!--        document.getElementById('editUserForm').style.display = 'none';-->
<!--    }-->
<!--</script>-->
